[Unit]
Description="bot-procman-deputy"

[Service]
ExecStart=/home/val/openhumanoids/valkyrie-lcm-distro/build/bin/bot-procman-deputy -n link --lcm-url "udpm://239.255.76.76:7676?ttl=0"
Restart=always

[Install]
WantedBy=multi-user.target
