[Unit]
Description="bot-lcm-tunnel"

[Service]
Environment=LCM_DEFAULT_URL=udpm://239.255.76.76:7676?ttl=0 
ExecStart=/home/val/openhumanoids/valkyrie-lcm-distro/build/bin/bot-lcm-tunnel
Restart=on-failure

[Install]
WantedBy=multi-user.target
