[Unit]
Description="bot-procman-deputy"

[Service]
#Environment=LCM_DEFAULT_URL=udpm://239.255.76.76:7676?ttl=0
#ExecStart=/home/val/openhumanoids/valkyrie-lcm-distro/build/bin/bot-procman-deputy -n zelda
ExecStart=/home/val/openhumanoids/valkyrie-lcm-distro/start_deputy_zelda.sh
Restart=always
User=val
Group=val

[Install]
WantedBy=multi-user.target
